@import url('./main.css');
@import url('./meal-planner.css');

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #eee;

  --brand-color: #f1575b;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

